@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
.img {
    Width: 100vw;
}
.fullscreen {
    position: absolute;
    top: 70px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}
.fortext {
    position: absolute;
    top: 0%;
    right: 0px;
    left: 0px;
    max-width: 100%;
    height: 40%;
}
.resize {
    position: fixed;
    bottom: 0%;
    max-width: 100%;
    height: 60%;
}
.hi {
    left: 25%;
    padding-top: 0%;
    position: absolute;
    font-family: 'Pattaya', sans-serif;
    font-size: 50px;
    text-align: center;
    transform: rotate(-20deg);
    color: teal;
    text-shadow: 0 0 5px rgb(4, 235, 235);
}
.akash {
    left: 8%;
    padding-top: 8%;
    position: absolute;
    font-family: 'Pattaya', sans-serif;
    font-size: 80px; 
    color: tomato;
    text-shadow: 0 0 5px rgb(243, 132, 132);
    text-align: center;
    transform: rotate(-20deg);
}